iRproj.user
.Rhistory
.RData
.Ruserdata
/analysis/data-derived/R6_WHO_Compliant_map.rds
/analysis/data-derived/scenario_maps.rds
.RDataTmp
.RDataTmp
.DS_Store
.Rproj.user
asua.xlsx
conrad_debug.RDS
conrad_debug.csv
/analysis/data-raw/asua.xlsx
/ignore
